body{
    background-image: linear-gradient(to right, #566573 10%, black 60%);
  }
header{
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  /* background-color: linear-gradient(to right, #566573 10%, black 60%); */
  background-color: black;
  border-top: 15px solid #000000;
  border-bottom: 15px solid #000000;
  border-left: 15px solid black;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.116), 0 0 10px rgba(255, 255, 255, 0.507), 0 0 15px rgba(255, 255, 255, 0.486), 0 0 20px #fff018, 0 0 30px #fff018, 0 0 40px #fff018, 0 0 55px #ff3b18, 0 0 75px #ff1818
}

h2{
  color : rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#best-movie-image{
  width: 35%;
  height:35%;
}
span{
  position: absolute;
  padding-top: 12%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
span:nth-of-type(2){
  left: 98%;
  text-align: right;
}

section{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: left;
  width: 98%;
  height: 200px;
  margin: 10px auto;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  visibility: hidden;
}

img{
  /* width: 14%;
  height: 14%; */
  min-width: 25%;
  min-height: 90%;
  position: relative;
  left: 0;
  padding-top: 15px;
  transition: 1.5s;
  
}
    /* img:hover{
        width: 16%;
        height: 16%;
        cursor: pointer;
    } */


#button1
{
    color: rgb(255, 255, 255); 
    font-size: 15px; 
    line-height: 19px; 
    padding: 10px; 
    border-radius: 10px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif, serif; 
    font-weight: bold; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block; 
    cursor: pointer;}
    #button1:hover {
    background: #1C6EA4;
    line-height: 21px; 
    padding: 12px; 
    border-radius: 12px;
     }
    #button1:active {
    background: #144E75; }

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(41, 49, 78);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* The Close Button */
.close {
  color: white;
  float:right;
  font-size: 28px;
  font-weight: bold;
  width: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 10px;
  background-color: #494a4e;
  color: white;
}

.modal-body {padding: 2px 16px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #FFF; overflow: auto; max-height: calc(100vh - 200px);}

